.banner {
  width: 100%;
}

.new-products {
  color: white;
  font-size: 25px;
  background-color: hsla(0, 0%, 50%, 0.367);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
