* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.navbar {
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
}

.nav-links {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-left: 35px;
}

.nav-logo {
  font-size: 25px;
  padding-right: 500px;
}

.logo {
  background-color: transparent;
  border-radius: 10%;
  width: 100px;
  margin: 0;
}
