* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.navbar {
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
}

.nav-links {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-left: 20px;
}

.nav-logo {
  font-size: 25px;
  flex-grow: 1;
}

.logo {
  background-color: transparent;
  border-radius: 10%;
  width: 100px;
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner-text {
  font-size: 30px;
  font-weight: bolder;
  position: absolute;
  bottom: 50px;
  left: 10px;
  color: black;
  padding: 5px;
}

.new-products h1,
.best-sellers h1 {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.image-gallery {
  text-align: center;
  padding: 20px 0;
}

.image-container {
  width: 200px;
  display: inline-block;
  margin: 20px 40px;
  text-align: center;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container p {
  color: white;
  margin-top: 10px;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 40px 0;
  margin-top: 40px;
}

.footer a {
  color: white;
  text-decoration: none;
}
