* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
}

.banner img {
  width: 100%;
  height: auto;
}
.social-links {
  position: absolute;
  bottom: 10px; /* Ajuste conforme necessário */
  right: 10px; /* Ajuste conforme necessário */
  /* Estilos adicionais para os links */
}

.social-links a {
  color: white; /* Ou outra cor que se destaque no banner */
  margin: 0 5px; /* Espaçamento entre os links */
  /* Outros estilos para os links */
}

.banner-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(133, 121, 121, 0.7);
  font-size: 30px;
  font-weight: bolder;
  position: absolute;
  bottom: 50px;
  left: 10px;
  color: whitesmoke;
  padding: 5px;
  border-radius: 15px;
}
.social-media {
  width: 10px;
}

.new-products h1,
.best-sellers h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.image-gallery {
  text-align: center;
  padding: 15px 0;
}

.image-container {
  background-color: white;
  width: 250px;
  border-radius: 15px;
  display: inline-block;
  margin: 20px 40px;
  text-align: center;
}

.image-container img {
  width: 60%;
  height: auto;
}

.image-container p {
  color: black;
  margin-top: 10px;
}

.search-form {
  width: 850px;
  display: flex;
  align-items: center;
}

.search-input {
  width: 350px;
  height: 35px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.search-button {
  font-size: 1px;
  background-color: white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.product-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: rgb(49, 171, 216);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.product-button:hover {
  background-color: rgb(66, 119, 225);
}
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.product-price {
  color: white;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 40px 0;
  margin-top: 40px;
}

.footer a {
  color: white;
  text-decoration: none;
}
.hr-div {
  border: 0;
  height: 3px;
  background-color: white;
  width: 80%;
  margin: 10px auto;
}
