.form-box {
  max-width: 400px;
  margin: auto;
  margin-left: 70px;
  padding: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button-checkout {
  background-color: #ff4141;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #ff4141;
}

.checkout-total {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
}

.checkout-total p {
  margin-top: 10px;
}

.box-summary {
  display: flex;
}

.everything-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* Here is the original css, it's the same */

.cartitems {
  margin: 100px 5%;
  flex: 1;
}
.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}
.cartitems-format-main {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(120px, 1fr)
  ); /* Grid responsivo */
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0px;
  color: #454545;
  font-size: 0.9rem;
  font-weight: 600;
}
.cartitems-format-main p {
  padding-left: 15px;
}
.cartitems-format {
  font-size: 17px;
  font-weight: 500;
}
.carticon-product-icon {
  height: 62px;
}
.cartitems-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}
.cartitems-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;
  width: 64px;
  height: 50px;
  border: 1px solid #ebebeb;
  background: #fff;
}
.cartitems-down {
  display: flex;
  margin: 100px 0px;
}
.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 700px;
  margin-left: 80px;
  gap: 40px;
}
.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.cartitems-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.buttonBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cartitems-quantity {
  width: 11px;
  font-size: 13px;
  height: 1.009em;
}

.decrement-button,
.increment-button {
  font-size: 10px;
  margin: 2px;
  height: 21px;
  width: 25px;
}

@media (max-width: 1280px) {
  .cartitems {
    margin: 60px 50px;
  }
  .cartitems-format-main {
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 20px;
    padding: 15px 0px;
    font-size: 15px;
  }
  .carticon-product-icon {
    height: 50px;
  }
  .cartitems-remove-icon {
    margin: auto;
  }
  .cartitems-quantity {
    width: 40px;
    height: 30px;
    font-size: 13px;
  }
  .cartitems-down {
    margin: 80px 0px;
    flex-direction: column;
    gap: 80px;
  }
  .cartitems-total {
    margin: 0;
  }
  .cartitems-total button {
    max-width: 200px;
    height: 45px;
    font-size: 13px;
  }
  .decrement-button,
  .increment-button {
    font-size: 10px;
    margin: 10px;
    background-color: #ff5a5a;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}
@media (max-width: 800px) {
  .cartitems {
    margin: 50px 40px;
  }
  .cartitems-format-main {
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 20px;
    padding: 15px 0px;
    font-size: 15px;
  }
  .carticon-product-icon {
    height: 50px;
  }
  .cartitems-remove-icon {
    margin: auto;
  }
  .cartitems-quantity {
    width: 40px;
    height: 30px;
    font-size: 13px;
  }
  .cartitems-down {
    margin: 80px 0px;
    flex-direction: column;
    gap: 80px;
  }
  .cartitems-total {
    margin: 0;
  }
  .cartitems-total button {
    max-width: 200px;
    height: 45px;
    font-size: 13px;
  }
  .decrement-button,
  .increment-button {
    font-size: 10px;
    margin: 10px;
    background-color: #ff5a5a;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}
@media (max-width: 500px) {
  /* Default styles for screens wider than 500px */
  .form-box {
    max-width: 400px;
    margin: auto;
    margin-left: 70px;
    padding: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 50px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }

  .button-checkout {
    background-color: #ff4141;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }

  button:hover {
    background-color: #ff4141;
  }

  .checkout-total {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
  }

  .checkout-total p {
    margin-top: 10px;
  }

  .box-summary {
    display: flex;
  }

  .everything-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
