.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}
.shopcategory-loadmore img {
  width: 30px;
  margin: 10px;
}
.banner-container {
  position: relative;
  text-align: center;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.7);
  font-family: Poppins;
  font-size: 60px;
  letter-spacing: 34px;
}

.shopcategory-products {
  margin: 20px 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 70px;
}
.shopcategory-products h3 {
  font-size: 14px;
  font-family: Poppins;
}
.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ff4141;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.product-prices {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}
.product-price-old {
  color: #818181;
  text-decoration: line-through;
}
.product-price-new {
  color: #ff4141;
}
@media (max-width: 1280px) {
  .shopcategory-banner {
    margin: 20px auto;
    width: 90%;
  }
  .banner-text {
    font-size: 40px;
  }
  .shopcategory-products {
    width: 90%;
    margin: 10px auto;
    row-gap: 40px;
  }
  .shopcategory-products .item {
    margin: auto;
  }
  .shopcategory-loadmore {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
  .shopcategory-products h3 {
    font-size: 10px;
  }
  .product-prices {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .shopcategory-banner {
    width: 95%;
  }
  .banner-text {
    font-size: 30px;
  }
  .shopcategory-products {
    width: 95%;
  }

  .shopcategory-loadmore {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
  .shopcategory-products h3 {
    font-size: 12px;
  }
  .product-prices {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .shopcategory-products {
    grid-template-columns: 1fr 1fr;
    width: 85%;
  }
  .shopcategory-products h3 {
    font-size: 10px;
  }
  .product-prices {
    display: flex;
    align-items: center;
    justify-content: first baseline;
    margin-top: 3px;
  }
  .banner-text {
    font-size: 12px;
  }
  .video-icon {
    width: 15px;
  }
  .shopcategory-loadmore {
    font-size: 13px;
  }
  .shopcategory-loadmore img {
    width: 25px;
  }
}
