.loginsignup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #98d1ea, #e1ffea22 60%);
}

.loginsignup-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 60px;
  width: 600px;
  height: 400px;
  text-align: center;
  margin-bottom: 100px;
}

.loginsignup h2 {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
}

.loginsignup-fields {
  margin-bottom: 20px;
}

.loginsignup label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.loginsignup input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

.loginsignup button {
  width: 70%;
  padding: 10px;
  background-color: #ff4141;
  color: #fff;
  font-size: 16px;
  border: none;
  margin-top: 30px;
  border-radius: 3px;
  cursor: pointer;
}

.loginsignup h6 {
  margin-top: 20px;
  font-size: 12px;
}
.loginsignup a {
  color: #ff4141;
  text-decoration: none;
}

@media (max-width: 1280px) {
  .loginsignup-container {
    width: 50%;
    padding: 20px;
    height: auto;
    margin-bottom: 20px;
  }

  .loginsignup h2 {
    font-size: 20px;
  }

  .loginsignup input {
    width: 80%;
    padding-top: 30px;
    height: 20%;
  }

  .loginsignup button {
    width: 70%;
    height: 20%;
  }

  .loginsignup h6 {
    margin-top: 10px;
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  .loginsignup-container {
    width: 70%;
    padding: 20px;
    height: auto;
    margin-bottom: 20px;
  }

  .loginsignup h2 {
    font-size: 20px;
  }

  .loginsignup input {
    width: 80%;
    height: 20%;
  }

  .loginsignup button {
    width: 70%;
    height: 20%;
  }

  .loginsignup h6 {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .loginsignup-container {
    width: 70%;
    padding: 20px;
    height: auto;
    margin-bottom: 20px;
  }

  .loginsignup h2 {
    font-size: 20px;
  }

  .loginsignup input {
    width: 80%;
    height: 20%;
  }

  .loginsignup button {
    width: 70%;
    height: 20%;
  }

  .loginsignup h6 {
    margin-top: 10px;
  }
}
